// index.html
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

// home页面
.el-main {
    padding: 0;
    .navMenuContainer {
        height: 50px;
        .el-menu.el-menu--horizontal {
            
            .el-menu-item, .el-submenu .el-submenu__title {
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                color: #666;
            }
            
        }
        .el-menu--horizontal>.el-menu-item.is-active, .el-menu--horizontal>.el-submenu.is-active .el-submenu__title  {
            background-color: #d7dbde;
            // border-bottom: none;
        }
        .el-menu--horizontal .el-submenu>.el-menu {
            top: 55px;
        }
    }
    .mainContainer {
        // padding: 10px 20px;
        background-color: #fff;
    }
}
//
.zhantingMenu { 
    padding-top: 10px;
    .el-submenu {
        // opacity: 0.8;
        .el-submenu__title{
            border-bottom: 1px solid #e2e2e2;
            color: #fff;
            font-size: 18px;
            // text-align: center;
            background-color: rgba(0,0,0,0); // 替换element的hover事件
            .el-submenu__icon-arrow.el-icon-arrow-down {
                color: #fff;
            }
        }
        .el-menu-item {
            border-bottom: 1px solid #d5d5d5;
        }
    }
} 
// 
.helpDialog {
    .el-dialog__header .el-dialog__title{
        font-size: 20px;
    }
    .el-dialog__body {
        text-align: center;
        color: #999;
    }
} 
// 表格头部
.el-table th {
    background: #ececec;
    text-align: center;
    color: #333;
}
.el-table td {
    text-align: center;
}

// button  按钮  size='mini'
.el-button--mini, .el-button--mini.is-round {
    padding: 5px 15px;
}

// 分页
.myPagination {
    height: 42px;
    // line-height: 32px;
    padding: 5px 0;
    margin: 10px 0;
    background: #eff3f8;
    .el-pagination {
        float: right;
    }
}

// 环境调控页面  弹窗
.showStateContainer {
    .el-dialog__wrapper .el-dialog {
        .el-dialog__header {
            border-bottom: 1px solid #ccc;
        }
    }
}

// 数据分析页面
.loggerTitle .el-form-item .el-form-item__label {
    vertical-align: top;
}

//  日期框宽度
.el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner {
    width: 310px;
}

// 无数据
.isNotDataText {
    text-align: center;
    padding-top: 50px;
    color: #666;
}
// 隐藏仪器


// input type=number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}

// 验证码
#verCode .cerify-code-panel{
    .verify-code {
        display: inline-block;
        // border:none;
    }
    .verify-code-area {
        display: inline-block;
        width: 145px;
        // float: right;
        .verify-change-area {
            line-height: 18px;
        }
        .verify-input-area {
            .varify-input-code {
                width: 61%;
                outline: none;
                border: 1px solid #ddd;
                border-radius: 5px;
                padding-left: 45px;
                background: #fff no-repeat;
                background-image: url(../img/icon1.png);
                background-position: 0px -1040px;
            }
        }
    }
}

.Loginfrom {
    .el-form-item {
        position: relative;
        .errorText {
            color: red;
            position: absolute;
            top: 30px;
            height: 20px;
            left: 0;
        }
    }
    

    .loginInput input{
        background: #fff no-repeat;
        background-image: url(../img/icon1.png);
        padding-left: 45px;
    }
    .UserName input{
        background-position: 0px -940px;
    }
    .UserPwd input{
        background-position: 0px -990px;
    }
}