// home页面
.el-main {
    padding: 0;
    .navMenuContainer {
        height: 50px;
        .el-menu.el-menu--horizontal {
            
            .el-menu-item, .el-submenu .el-submenu__title {
                height: 50px;
                line-height: 50px;
            }
            
        }
        .el-menu--horizontal>.el-menu-item.is-active, .el-menu--horizontal>.el-submenu.is-active .el-submenu__title  {
            background-color: #d7dbde;
            // border-bottom: none;
        }
    }
    .mainContainer {
        padding: 20px;
        background-color: #d7dbde;
    }
}
//
.zhantingMenu .el-submenu {
    .el-submenu__title{
        border-bottom: 1px solid #e2e2e2;
        color: #4b6eaa;
        font-size: 18px;
        text-align: center;
    }
    .el-menu-item {
        border-bottom: 1px solid #d5d5d5;
    }
} 
// 
.helpDialog {
    .el-dialog__header .el-dialog__title{
        font-size: 20px;
    }
    .el-dialog__body {
        text-align: center;
        color: #999;
    }
} 
// 表格头部
.el-table th {
    background: #ececec;
    text-align: center;
    color: #333;
}
.el-table td {
    text-align: center;
}

// button  按钮  size='mini'
.el-button--mini, .el-button--mini.is-round {
    padding: 5px 15px;
}
